extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="img-nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis tellus ex. Nulla fringilla purus non nulla blandit mattis. Praesent volutpat massa eros, at pretium ligula hendrerit a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin urna urna, ullamcorper vel ante vitae, fringilla elementum nunc. Vivamus consectetur, dui non ullamcorper dapibus, sapien elit maximus enim, eget lacinia sapien magna quis felis. Integer feugiat pulvinar metus id pharetra.
                p Etiam nec erat a risus cursus viverra. Etiam eros purus, iaculis at mauris a, sodales eleifend urna. In hac habitasse platea dictumst. Duis in tristique nulla, cursus pulvinar urna. Nunc neque turpis, dictum quis felis vel, finibus iaculis turpis. Sed vel eros dui. Ut imperdiet est ac augue dignissim, sit amet rhoncus orci dapibus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien risus, fermentum eget sapien non, aliquet sodales justo. Praesent pretium arcu nec sapien mollis scelerisque. Maecenas gravida arcu nec dui semper cursus quis eu sapien. Nam ornare consectetur ex in molestie. Integer varius mauris volutpat ipsum eleifend viverra. 

    .listado-iconos    
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien risus, fermentum eget sapien non, aliquet sodales justo. Praesent pretium arcu nec sapien mollis scelerisque.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono-destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien risus, fermentum eget sapien non, aliquet sodales justo. Praesent pretium arcu nec sapien mollis scelerisque.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono-precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien risus, fermentum eget sapien non, aliquet sodales justo. Praesent pretium arcu nec sapien mollis scelerisque.